.TextTeamBlock{
	margin-top: 103px;
    float: left;
	font: 70px Montserrat, sans-serif;
}

.FontMedium{
    font-weight: 500;
}

.FontBold{
    font-weight: bold;
}

.Delimiter{
	height: 110px;
}

.Started{
	font: 14px Roboto, sans-serif;
	font-weight: bold;
	background: #704bd4;
	color: #ffffff;
	padding: 21px 83px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}

.Started:hover{
	background: #d2e2fc;
	color: #704bd4;
	border: 3px solid #704bd4;
}
